body {
    background-color: white;
    margin-bottom: 4em;
    margin-right: 2m;
    margin-left: 2em;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p,h1 {
    color: #202020;
    transform: scaleY(.95);
}

h1 {
    font-weight: 200;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
    body {
        margin-right: 1em;
        margin-left: 1em;
    }
    

  }

.label {
    font-size: 1.4em;
}

.input-text {
    font-size: large;
}

input {
    border-radius: 5px;
    padding-top: 15px; 
    padding-bottom: 15px; 
    padding-left: 5px; 
    padding-right: 5px;
    height: 0em;
}

footer {
    font-size: x-small;
}

.description {
    width: 80%;
    max-width: 20em;
}

.amount-input {
    width: 4em;
  }

.content-container {
    background-color: white;
    margin: auto; 
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.invoice-id {
    font-size: 1px;
    height: 1px;
}

.paypal-button-container{
    margin: auto;
    margin-left: 3em;
    margin-right: 3em;
}

/* Remove arrows from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}